body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    height:10% ;
    width: 20% ;
    color:black;
    display: block;
}
button:hover{
    background-color:white;
    cursor: pointer;
}
.centre
{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
#Click{
    background-color: aquamarine;
}
#Close{
    background-color: mediumaquamarine;
    margin:auto ;
    margin-top: 3%;
}
.modal{
    z-index: 1;
    height:30%;
    width:50%;
    background-color:cyan;
    padding: 20 px 20 px 20 px 20 px ;
    border-radius: 3.5 px;
    box-shadow: 1 px 1 px 1 px 1 px black; 
    display: none;
    text-align: center;
}
